@using static BeanScene1._1.ViewModels.AdminViewModels
@model List<UserRolesViewModel>
<body>
    <h2>Users</h2>
    <table class="reservation-table">
        
        <tr class="reservation-headers">
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        
   
            @foreach (var user in Model)
                {
            <tr class="reservation-items">
                <td>@user.Email</td>
                <td>@string.Join(",", user.Roles)</td>
                <td>
                    <a asp-action="EditRoles" asp-route-userId="@user.UserId" class= "btn btn-sm btn-primary">Edit Roles</a>
                </td>
            </tr>
        }
    
    </table>
</body>