@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
   
    <div class="text-center">
        <h1 class="display-4">Welcome Back!</h1>

        <div class="mt-4">
            <a asp-controller="Reservations" asp-action="Create"
               class="btn btn-primary btn-lg me-3">
                Make a Reservation
            </a>

            <a asp-controller="Reservations" asp-action="Index"
               class="btn btn-success btn-lg">
                My Reservations
            </a>
        </div>
    </div>

}
else
{
    
    <div class="d-flex flex-column justify-content-start align-items-center pt-1   min-vh-100">
        <h1 class="display-4 pb-3"  >Welcome to BeanScene!</h1>
        <h2>Login or register to make a reservation</h2>

        <div class="mt-4">
            <a asp-area="Identity" asp-page="/Account/Login"
               class="btn btn-info btn-lg me-3">
                Login
            </a>

            <a asp-area="Identity" asp-page="/Account/Register"
               class="btn btn-success btn-lg">
                Register
            </a>
        </div>
    </div>
    
}
