@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
   
    <div class="text-center">
        <h1 class="display-4">Welcome Back!</h1>

        <div class="mt-4">
            <a asp-controller="Reservations" asp-action="Create"
               class="btn btn-primary btn-lg me-3">
                Make a Reservation
            </a>

            <a asp-controller="Reservations" asp-action="Index"
               class="btn btn-success btn-lg">
                My Reservations
            </a>
        </div>
    </div>

}
else
{
    
    <div class="container align-content-center">
        <div class="about-box text-center">
            <p>EST.2024</p>
            <h1>Bean Scene</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                text 1

            </div>
            <div class="col-2">
                text 2
            </div>

        </div>
        
        <button class="justify-text-center">MAKE A RESERVATION</button>
       
    </div>
    
}
