@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
   
    <div class="text-center">
        <h1 class="display-4">Welcome Back!</h1>

        <div class="mt-4">
            <a asp-controller="Reservations" asp-action="Create"
               class="btn btn-primary btn-lg me-3">
                Make a Reservation
            </a>

            <a asp-controller="Reservations" asp-action="Index"
               class="btn btn-success btn-lg">
                My Reservations
            </a>
        </div>
    </div>

}
else
{<body class="home-page">
    <div class="container-fluid container-home">
    <div class="container-fluid text-center">
        <div class="about-box container-text ">
            EST.2024
            <h1>Bean Scene</h1>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-3 container-text text-center">
                Bean Scene is a small, cozy café known for its relaxed atmosphere and unexpectedly creative menu.

                It serves classic café favourites with a twist, offering unique flavour combinations and seasonal specials that change regularly. Alongside quality coffee
            </div>
            <div class="col-3 container-text text-center">
                the menu is designed for those looking to try something a little different from the usual café experience.

                Simple, local, and a bit unconventional—Bean Scene is all about good coffee and interesting food in a laid-back setting.
            </div>

        </div>
        <div class="text-center">
            <a class="reservation-link" asp-controller="Reservations" asp-action="Index">
                MAKE A RESERVATION
            </a>

        </div>
    </div>
    </div>
    
 </body>
}
