@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";

}
<body class="menu-page" >
<div class="container menu-container" >
    <div class="d-flex flex-column justify-content-center align-items-center" >
        <h1 class="menu-headers">Our Menu</h1>
        <p class="menu-text">Freshly prepared dishes and drinks made with quality ingredients, served in a cozy and relaxed setting. Perfect for a quick bite, coffee break, or a casual meal with friends.</p>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="menu-headers">Starters</h1>
        
        <ul class= "menu-list">
            <li class="d-flex">
                <span class="item-name"> Item1</span>
                <span class="dots"></span>
                <span class="Price">10</span>
            </li>
            <li class="d-flex">
                <span class="item-name"> Item2</span>
                <span class="dots"></span>
                <span class="Price">17</span>
            </li>
            <li class="d-flex">
                <span class="item-name"> Item3</span>
                <span class="dots"></span>
                <span class="Price">22</span>
            </li>
            <li class="d-flex">
                <span class="item-name"> Item4</span>
                <span class="dots"></span>
                <span class="Price">90</span>
            </li>
            <li class="d-flex">
                <span class="item-name"> Item5</span>
                <span class="dots"></span>
                <span class="Price">12</span>
            </li>
        </ul>
        <div class="d-flex flex-column justify-content-center align-items-center Main-Course">
          <h1 class="menu-headers">Main Course</h1>
            <ul class="menu-list">
                <li class="d-flex">
                    <span class="item-name"> Item1</span>
                    <span class="dots"></span>
                    <span class="Price">10</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item2</span>
                    <span class="dots"></span>
                    <span class="Price">17</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item3</span>
                    <span class="dots"></span>
                    <span class="Price">22</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item4</span>
                    <span class="dots"></span>
                    <span class="Price">90</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item5</span>
                    <span class="dots"></span>
                    <span class="Price">12</span>
                </li>
            </ul>


        </div>
        <div class="d-flex flex-column justify-content-center align-items-center Main-Course">
            <h1 class="menu-headers">Desserts</h1>
            <ul class="menu-list">
                <li class="d-flex">
                    <span class="item-name"> Item1</span>
                    <span class="dots"></span>
                    <span class="Price">10</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item2</span>
                    <span class="dots"></span>
                    <span class="Price">17</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item3</span>
                    <span class="dots"></span>
                    <span class="Price">22</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item4</span>
                    <span class="dots"></span>
                    <span class="Price">90</span>
                </li>
                <li class="d-flex">
                    <span class="item-name"> Item5</span>
                    <span class="dots"></span>
                    <span class="Price">12</span>
                </li>
            </ul>
            </div>

        
    </div>
</div>
</body>