@page
@using BeanScene101._1.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<body class="home-page">
<h1>@ViewData["Title"]</h1>
    <div class="row  justify-content-center login-form">
    <div class="col-4 login-form">
        <section>
            <form id="account" method="post">
                <h2 class="text-center login-text">Login to your account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.AppUserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                   
                    <label asp-for="Input.AppUserName" class="login-labels">User Name</label>
                    <span asp-validation-for="Input.AppUserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="login-labels">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class=" login-external-links">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="login-link">

                  <p>Forgot your password?</p>

                </a>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="login-link">

                  <p>Register as a new user</p>

                </a>

                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="login-link">
                     
                 <p>Resend email confirmation</p>
                 
                </a>
                    
                </div>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>