@font-face {
    font-family: 'Amagro';
    src: local("Amagro.ttf") format('truetype');
    font-family: 'Telegraf';
    src: local("Telegraf UltraBold 800") format('truetype';)
}
html {
  font-size: 14px;
}
.about-box{
    margin-top: 200px;
  margin-bottom: 15px;
}
.reservation-link {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
  
  
}
.reservation-link:hover {
        color: #666;
        border-bottom-color: #666;
    }
.container-home {
    
    padding: 20px;
    width: 98%;
    min-height:1000vh;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom:3px;
    
}
.dropdown-toggle::after{
    display: none;
}
.menu-icon {
    background-color: #567C8D;
    border: none;
    user-select: none;
    cursor: pointer;
    color: white;
}
.dropdown-toggle:hover {
        color: #666;
}
.dropdown-item:hover {
    color: #666;
}
.dropdown-item{
    padding-top:5px;
    padding-bottom:10px;
    user-select: none;
    
    
}
.name{
    color: white;
}
.reservations-link{
    color: white;
}
.reservation-link-home {
    font-size: 25px;
    font-family: Telegraf;
    font-weight: bold;
    color: #024059;
}
.reservation-link-home:hover {
    color: grey;
    border-bottom-color: grey;
}
.placeholder {
    color: #455763;
    font-family: Amagro;
}
.register-labels {
    color: #455763;
    font-family: Amagro;
}
.register-text {
    font-family: Amagro;
    font-weight: bold;
    color: #024059;
}
.register-form{
    padding-top: 20px;
}
.login-labels {
    color: #455763;
    font-family: Amagro;
}
.login-text {
    font-family: Amagro;
    font-weight: bold;
    color: #024059;
}
.login-form {
    padding-top: 20px;
}
.login-link {
    font-family: Amagro;
    font-weight: bold;
    color: #024059;
    font-size: 15px;
}
.login-external-links{
    margin-top: 20px;
    padding: 5px;
}
.form-label {
    color: #024059;
    font-weight: bold;
    font-family: Amagro;
}
.container-text {
    color: white
}
.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu-container {
    margin-top: 80px;
}
.menu-page {
    background-color: #FAF3E0;
}
.home-page {
    background-color: #FAF3E0;
}
.row {
    margin-bottom: 50px;
}
.navbar {
    background-color: #567C8D;
    border-color: #O83A4F;
}
.name:hover {
    color: #666;
}
.reservations-link:hover{
    color:#666;
}
.menu-headers {
    margin-bottom: 50px;
    padding: 10px;
    border-bottom: 3px solid #024059;
    font-size: 40px;
    font-family: Telegraf;
    font-weight: bold;
    color:  #024059;

}
.menu-list {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    width: 100%;
    
   
}
    .menu-list li {
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:250px;
        padding:10px;
        border: 1px;
        
    }
.menu-text{
    font-family:Amagro;
    font-size: 20px;
    color:#455763;
    font-weight:lighter; 
    width : 75%;
}
.Main-Course{
    margin-top: 30px;
}
.dots {
    flex-grow: 1;
    height: 16px;
    margin: 0 10px;
    background-image: radial-gradient(circle, #999 1px, transparent 1px);
    background-size: 4px 4px;
    background-repeat: repeat-x;
    background-position: left 12px;
}
.Price {
    font-weight: lighter;
    font-family: Amagro;
    font-size: 25px;
    color: #455763;
}
.item-name {
    font-family: Amagro;
    font-size: 25px;
    font-weight: lighter;
    color: #455763;
}

.home-page {
    background-color: #FAF3E0;
}
.Home-page-name {
    font-size: 40px;
    font-family: Telegraf;
    font-weight: bold;
    color: #024059;
}
.home-page-text {
    font-family: Amagro;
    font-size: 20px;
    color: #455763;
    font-weight: lighter;
  
}
.reservation-button {
    font-size: 40px;
    font-family: Telegraf;
    font-weight: bold;
    color: #024059;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn-primary {
    border: none;
    box-shadow: none;
    background-color: #567C8D;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:active:focus {
        background-color: #455763;
        transform: none;
        border: none;
        box-shadow: none;
        outline: none;
    }

html, body {
    height: 100%;
    margin: 0;
}
body {
    flex-direction: column;
    background: white;
}
.container {
    flex: 1;
    
}
.footer {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    align-content: center;
    background-color: #567C8D;
    bottom: 0;
    width:100%;
    margin-top: 40px;
    
    
}
.footer h6{
    padding-top: 10px;
    position: relative;
    color:white;
    
    
}

main {
    flex: 1;
    
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.big-btn {
    font-size: 1.5rem;
    padding: 16px 40px;
    
}
#messagesList {
    max-height: 400px;
    overflow-y: scroll;
    background: #f8f9fa;
    border-radius: 8px;
}
