html {
  font-size: 14px;
}
.logo {
    width: 50px;
    height: 50px;

}
.about-box{
    margin: 10px;
    padding: 20px;
   
}
.reservation-link {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 3px;
}
.reservation-link:hover {
        color: #666;
        border-bottom-color: #666;
    }
.container-home {
    margin: 100px auto;
    background-color: white;
    width: 60%;
    height: 600px;
    
}
  

.row {
    margin-bottom: 50px;
}
.navbar {
    background-color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
}
body { 
    display: flex;
    flex-direction: column;
    background: #A9A9A9;
}
.container {
    flex: 1;
    
}
.footer {

    display: flex;
    justify-content: flex-start;
    height: 40px;
    align-content: center
}
.footer h6{
    padding-top: 10px;
    position: relative;
    
    
}

main {
    flex: 1;
    margin-top: 70px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.big-btn {
    font-size: 1.5rem;
    padding: 16px 40px;
    
}
#messagesList {
    max-height: 400px;
    overflow-y: scroll;
    background: #f8f9fa;
    border-radius: 8px;
}